html, body {
        margin: 0px;
        padding: 0px;
        
        background-color:#f8f9f9;
        color:#000;
        font-family: arial, verdana, sans-serif;
        font-size:0.85em;
        letter-spacing:1px;
     
}

img {

border:none;
}

html {
        overflow-y:scroll;
     
}




/**** typografi *****/

a, a:visited, a:active {
        
 color: #10ccc5;
      
}


a:hover {
        color: #999999;       
}


/*** css efter Class ***/

.Heading1 {
        font-size:1.50em;
        color: #06a7a1;
        font-weight: bold;
        font-family: verdana, sans-serif;

 

}

.Heading2 {
        font-weight: bold;
        font-family: verdana, sans-serif;
        font-size:1.25em;
        color: #06a7a1;

}

.Heading3 {
       font-weight: bold;
       font-family: verdana, sans-serif;
       font-size:1em;
       color: #06a7a1;


}

p {
padding:5px 0px 0px 0px;
}


/*
.Normal {
}

.EmphasizedText {
}
*/


/*****  Layoutstruktur  ******/





#wrapper_top {
       width: 950px;
       height: 250px;
       margin:auto;
       /*background-color:#000;*/
        
        
}
        

        
        
#top {
        width: 950px;
        height: 250px;
        background-color:#ffffff;
        /*float:left;*/
        margin:auto;
        
        }
        


        
#wrapper_menu {
        width: 950px;
        height: 49px;
        margin:auto;
        background-color:#ffffff;
        text-align:center;
        letter-spacing:2px;
        
}
        
#nav {
        padding:10px 0px 0px 0px;
        width:950px;
        margin:auto;
        height: 40px;
        }
        
#wrapper_indhold {
        width: 950px;
        overflow:auto; 
        background-color:#ffffff;
        margin:auto;
        line-height:165%;

}

#content_et {
        clear:both;
        width: 905px;
        min-height: 220px;
        float:left;
        padding:30px 20px 20px 25px;

        
        }
        
#content_left{
        width: 260px;
        min-height: 220px;
        float:left;
        padding:20px;
        font-size: 1.20em;
        letter-spacing:2px;
        
                }
        
#content_right{
        width: 610px;
        min-height: 220px;
        float:left;
        /* border-left:1px solid #929392;*/
        
        padding:20px;
        
      
        
        }
        

/*#streg {
        clear:both;
        /*width:100%;*/

        width:950px;
        margin:auto;
        height:1px;
        background-color:#929392;
        }
*/

#wrapper_footer {
        width: 950px;
        /*width: 100%;*/
        min-height: 36px;
        padding: 4px 0px 0px 0px;
        background-color:#ffffff;
        font-family: calibri, sans serif;
        font-size: 1.25em;
        margin:auto;
        color:#999999;
        letter-spacing:2px;
       }
#footer_pic {
        clear:both;
        width:950px;
        height:60px;
    /*    padding: 5px 0px 0px 0px;*/
        
margin:auto;
        text-align:center;
        }
        
#footer_text {

        clear:both;
        width:950px;
        height:25px;
        padding: 5px 0px 0px 0px;
        margin:auto;
        text-align:center;
}




       